.card {
    margin: 50px 100px;
}
.file {
    margin-bottom: 10px;
}
.is-active p {
    color: #3273dc;
}
.file {
    width: 350px;
}
input {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #dbdbdb;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
}
footer button {
    margin-left: 25px;
    margin-bottom: 25px;
}